html{
    margin=0;


}
.top-background{
    width:100%;
    height:100px;
    background:#ffffff;
    position:relative;
    z-index: -1;
    margin-top:0px;
    margin-bottom:25px;
}
h1{
    size: 50px;
    background-color:#4aaaa5;
    width: 200px;
    height:60px;
    margin-left:25%;

}

h2{
    size:50px;
    color:#4aaaa5;
    margin-left: 280px;
    border

}

.boxed{
    background:white;
    width:960px;
    height:375px;   
    display:block;
    overflow: auto;
    position: relative;
    margin:
    

    
}

p{
 position:absolute;
 
}

img{
   position: absolute;
   
    
}

.buttons{
position: static;
align-content:right;
margin-left:75%;
}

footer{
    height:100px;
    width:100%;
    background-color:#666666;
    margin-top:25px;

}