html{
    margin=0;


}

.jpm{
    
}
.top-background{
    width:100%;
    height:5%;
    background:#ffffff;
    position:static;
    z-index: -1;
    margin-top:0%;
    margin-bottom:25px;
}
h1{
    size: 50px;
    background-color:#4aaaa5;
    width: 200px;
    height:60px;
    margin-left:25%;
    margin-top:0%;

}

h2{
    size:50px;
    color:#4aaaa5;
    margin-left: 280px;
    border

}
body{
    margin:0;
    padding:0;
}
.boxed{
    background:white;
    width:960px;
    height:375px;   
    display:block;
    overflow: auto;
    position: relative;
    margin-left:25%;
    margin-right:25%;
    

    
}

p{
 position:absolute;
 
 
}

img{
   position: absolute;
   
    
    
}

.buttons{
    align-content:right;
    margin-left:75%;
    z-index: +1;
    }

footer{
    height:100%;
    width:120%;
    background-color:#666666;
    margin-bottom:0%;
    margin-top: 2%;
    border-top:8px solid #4aaaa5;
    position: fixed;;
}