html{
width: 1920px;
height:1080px;
}


.top-background{
    width:1920px;
    height:100px;
    background:#ffffff;
    position: relative;
    margin-top:0;
    margin-bottom:4%;
    border-bottom:4px #cccccc;
    z-index:0;
}
h1{
    size: 50px;
    background-color:#4aaaa5;
    width: 200px;
    height:60px;
    float:left;
   z-index: 1;
    color:white;
}

h2{
    size:50px;
    color:#4aaaa5;
    border-bottom:solid #cccccc;

}
body{
    padding:0;
    width:1920px;
    height:1080px;
    background-clip: border-box;
    overflow:hidden;
}
.boxed{
    background:white;
    width:960px;
    height:375px;   
    display:flex;
    position: static;
    margin-left:25%;

    

    
}

p{
 position:absolute;
 width: 900px;
 

 
}

img{
   position: absolute;
   display:block;
   

   
    
    
}

.buttons{
    z-index: +1;
    position: absolute;
    display:block;
    float:right;
    margin-left:50%;
    margin-right:25%;
    
}

footer{
    height:100px;
    width:1920;
    background-color:#666666;
    bottom:0%;
    margin-top: 7%;
    border-top:8px solid #4aaaa5;
    position: static;
    padding:0;
}